<div class="menu-container">
  <div class="menu">
    <button (click)="navigateTo('pedidos')">Añadir pedido</button>
    <button (click)="navigateTo('tablapedidos')">Administrar pedidos</button>
    <button
      (click)="navigateTo('menu')"
      style="background: linear-gradient(to left, #fd0101, #ffffff)"
    >
      Regresar
    </button>
  </div>
  <div class="content">
    <!-- Aquí va tu imagen o contenido adicional -->
    <img src="../../../assets/log.PNG" alt="Imagen" class="content-image" />
  </div>
</div>
