<div class="menu-container">
  <div class="menu">
    <button (click)="navigateTo('agregar/pedido')">Agregar Pedido</button>
    <button (click)="navigateTo('facturar')">Facturar</button>
    <button
      (click)="navigateTo('menu')"
      style="background: linear-gradient(to left, #fd0101, #ffffff)"
    >
      Regresar
    </button>
  </div>
  <div class="content">
    <!-- Aquí va tu imagen o contenido adicional -->
    <img src="../../assets/logo.jpeg" alt="Imagen" class="content-image" />
  </div>
</div>
