<div class="menu-container">
  <div class="menu">
    <button (click)="navigateTo('registros/facturas')">Registro Facturas</button>
    <button (click)="navigateTo('registro/ventas')">Registro Ventas</button>
    <button (click)="navigateTo('registro/cerrarCaja')">Cerrar Caja</button>
    <button
      (click)="navigateTo('menu')"
      style="background: linear-gradient(to left, #fd0101, #ffffff)"
    >
      Regresar
    </button>
  </div>
  <div class="content">
    <!-- Aquí va tu imagen o contenido adicional -->
    <img src="../../assets/logo.jpeg" alt="Imagen" class="content-image" />
  </div>
</div>
