<div class="menu-container">
  <div class="menu">
    <!-- Menú aquí -->
  </div>
  <div class="content">
    <div class="background-image"></div>
    <div class="cliente-form">
      <table class="user-table">
        <thead style="background-color: black">
          <tr style="color: white">
            <th>cc</th>
            <th>nombre</th>
            <th>telefono</th>
            <th>direccion</th>
            <th>fecha Cumple</th>
            <th></th>
          </tr>
        </thead>
        <tbody>
          <tr style="height: 30px" *ngFor="let user of users">
            <td>{{ user.cc }}</td>
            <td>{{ user.nombre }}</td>
            <td>{{ user.telefono }}</td>
            <td>{{ user.direccion }}</td>
            <td>{{ convertirFecha(user.fechacumple) }}</td>
            <td style="display: none">{{ user.id_cliente }}</td>
            <td>
              <button
                class="editar-button"
                (click)="showModal = true"
                (click)="editar(user)"
              >
                Editar
              </button>
            </td>
          </tr>
        </tbody>
      </table>
      <button
        (click)="navigateTo('clientes')"
        style="background: linear-gradient(to left, #ffffff, #fd0101, #ffffff)"
        class="regresarbtn"
      >
        Regresar
      </button>
    </div>
  </div>
</div>

<app-modal
  style="align-items: center"
  [showModal]="showModal"
  (closeModal)="cancelarEdicion()"
>
  <!-- Campos de entrada para los datos editables del usuario -->

  <div class="contenido-modal">
    <!-- Para el enlace de entrada -->
    <label style="color: black">cc</label>
    <input
      type="text"
      [ngModel]="myForm.get('cc')?.value"
      (ngModelChange)="myForm.get('cc')?.setValue($event)"
      name="cc"
    />

    <!-- Campo Usuario -->
    <label style="color: black">Nombre</label>
    <input
      type="text"
      [ngModel]="myForm.get('nombre')?.value"
      (ngModelChange)="myForm.get('nombre')?.setValue($event)"
      name="nombre"
    />

    <!-- Campo Tipo -->
    <label style="color: black">Telefono</label>
    <input
      type="text"
      [ngModel]="myForm.get('telefono')?.value"
      (ngModelChange)="myForm.get('telefono')?.setValue($event)"
      name="telefono"
    />

    <!-- Campo Tipo -->
    <label style="color: black">Dirección</label>
    <input
      type="text"
      [ngModel]="myForm.get('direccion')?.value"
      (ngModelChange)="myForm.get('direccion')?.setValue($event)"
      name="direccion"
    />

    <!-- Campo Tipo -->
    <label style="color: black">Fecha Nacimiento</label>
    <input
      type="date"
      [ngModel]="myForm.get('fechacumple')?.value"
      (ngModelChange)="myForm.get('fechacumple')?.setValue($event)"
      name="fechacumple"
    />

    <div class="modal-footer">
      <button
        mat-icon
        type="submit"
        class="save-exit"
        (click)="editarUsuario(myForm)"
        [disabled]="myForm.invalid"
      >
        <abbr title="Guardar">Guardar</abbr>
      </button>
      <button (click)="cancelarEdicion()" class="close" type="button">
        Cancelar
      </button>
    </div>
  </div>
</app-modal>
